import '@/styles/globals.scss'
import { Toaster } from 'vue-sonner'

interface Props {
  title: string;
}

const { title } = Astro.props;
const { user } = Astro.locals;
---

<!doctype html>
<html class="h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-900 text-white flex min-h-full flex-col">
    <header class="flex justify-between">
      <a href="/"><img src="/img/logo.png" class="h-20 w-auto"/></a>
      <nav>
        <ul class="flex flex-row py-7">
          <li><a href="/builds/">Builds</a></li>
          <li><a href="/builder/">Create a build</a></li>
        </ul>
      </nav>
    </header>
    {user && <h1>Welcome {user.name}!</h1>}
    <slot />
    <Toaster client:load />
    <footer><p>footer</p></footer>
  </body>
</html>
