---
import ERBuilder from "@/components/EldenRing/Builder.vue";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Builder">
  <h1>Builder</h1>

  {/*
    Switch the builder depending on the current selected game
    Data are fetched in the component loaded to avoid loading
    too much data
  */}
  <ERBuilder client:load />
</Layout>