---
import { apiFetch } from "@/api";
import ERBuilder from "@/components/EldenRing/Builder.vue";
import Layout from "@/layouts/Layout.astro";
import type { PayloadCollection } from "@/types";
import type { ErStatistic } from "~/payload-types";

const { user } = Astro.locals;

// @ts-ignore
const stats: PayloadCollection<ErStatistic> = await apiFetch('/api/er-statistics?sort=id')
---

<Layout title="Create a build">
  { !user && (
    <p class="container text-destructive">⚠️ You cannot create a build because you are not logged in.</p>
  )}
  {/*
    Switch the builder depending on the current selected game
    Data are fetched in the component loaded to avoid loading
    too much data
  */}
  <div class="container">
    <ERBuilder
      client:only
      stats={stats} />
  </div>
</Layout>