---
import Layout from "../layouts/Layout.astro";
import { getWeapons } from '../api'

const erWeapons = await getWeapons();
---

<Layout title="Builder">
  <h1>Builder</h1>

  <select>
    { erWeapons.docs.map((weapon) => (
        <option value={weapon.id}>{weapon.name}</option>
    ))}
  </select>
</Layout>