---
import Layout from '@/layouts/Layout.astro'
import CardFashion from '@/components/molecules/CardFashion.vue'
---

<Layout title="Fashion 1">
  <div class="grid gap-4 grid-cols-12 mt-4">
    <section class="w-full col-span-12 md:col-span-10 container--xl grid gap-2 grid-cols-2 sm:grid-cols-fashion md:gap-4 lg:gap-5">
      <CardFashion />
    </section>
  </div>
</Layout>
